<section class="content-block team-1 team-1-2">
  <div class="container">
    <div class="underlined-title">
      <h1>Locations</h1>
      <hr>
    </div>
    <div class="row">
      <% @locations.each do |location| %>
        <div class="col-md-3 col-sm-6 team-member-wrap">
          <div class="team-member">
            <%= link_to image_tag("emblems/#{location.emblem_url}", size: "110"), location_path(location), class: "img-responsive" %>
            <div class="team-details">
              <h4 class="member-name"><%= location.base %></h4>
              <% if location.state? %>
                <p class="position"><%= location.state %></p>
              <%else %>
                <p class="position"><%= location.country %> </p>
              <% end %>
              <!-- End of Location -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.row -->
    <%= link_to "Create New Location", new_location_path, class: "btn btn-primary" %>
  </div>
  <!-- /.container -->
</section>
