<section class="content-block team-1 team-1-2">
  <div class="container">
    <div class="underlined-title">
      <h1><%= @pilot.rank %> <%= @pilot.name %></h1>
      <hr>
    </div>

    <div class="col-md-3 col-sm-6 team-member-wrap">
      <div class="team-member">
        <%= image_tag("#{@pilot.avatar_url}") %>
        <div class="team-details">
          <h4 class="member-name"><%= @pilot.location.base %></h4>
          <p class="position"><%= @pilot.qualification %>, <%= @pilot.hours %> Hours</p>
          <p class="position"> Commision Date: <%= @pilot.commision_date %></p>
          <p class="position"> ADSC: <%= @pilot.adsc %> </p>
          <!-- End of Location -->
        </div>
      </div>
      <div class="media">
        <%= link_to "Edit Pilot", edit_pilot_path(@pilot), class: "btn btn-warning" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
