  <%= render "shared/locations_grid" %>

<h1>Locations Index</h1>

<% @locations.each do |location| %>
  <div class="media">
    <div class="media-left media middle">
      <%= link_to image_tag("emblems/#{location.emblem_url}", size: "110"), location_path(location) %>
    </div>
    <div class="media-body">
      <% if location.state? %>
        <h4 class="media-heading"><%= location.base %>, <%= location.state %></h4>
      <%else %>
        <h4 class="media-heading"> <%= location.base %>, <%= location.country %> </h4>
      <% end %>
      <ul class="list-group">
        <li class="list-group-item"> <%= location.unit %> </li>
        <li class="list-group-item"> <%= location.billets %> Billets </li>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to "Create New Location", new_location_path, class: "btn btn-primary" %>
