<h1>Locations Index</h1>

<% @locations.each do |location| %>
  <div class="media">
    <div class="media-left media middle">
      <%= link_to image_tag("emblems/#{location.emblem_url}", size: "110"), location_path(location) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= location.unit %></h4>
      <ul class="list-group">
        <% if location.state? %>
          <li class="list-group-item"> <%= location.base %>, <%= location.state %>, <%= location.country %> </li>
        <%else %>
          <li class="list-group-item"> <%= location.base %>, <%= location.country %> </li>
        <% end %>
        <li class="list-group-item"> <%= location.billets %> Billets </li>
      </ul>
    </div>
  </div>
<% end %>
