<!DOCTYPE html>
<html>
<head>
  <title>PilotTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%=  message %></p>
  <% end %>

  <div>
    <% if current_user %>
      Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>

  <div>
    <%= link_to "Locations", locations_path, class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "Pilots", pilots_path, class: "btn btn-primary" %>
  </div>

<%= yield %>

</body>
</html>
