<!DOCTYPE html>
<html>
<head>
  <title>PilotTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message| %>
  <p class="<%= type %>"><%=  message %></p>
<% end %>

<div class="">
  <%= link_to "Locations", locations_path, class: "btn btn-primary" %>
</div>

<%= yield %>

</body>
</html>
